
@{
    ViewData["Title"] = "Index";
}

@{
    var user = ViewBag.user;

    ViewData["Title"] = "Feed";

    var posts = ViewBag.posts;

    @model Acebook.Models.PostModel;
}

<div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/sitestyles.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
</div>





<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Profile</a>
            <a class="nav-item nav-link" href="#">Sign Out</a>
        </div>
    </div>
</nav>


<div class="profile-name-box">
    <div class="modal-dialog text-center profile-box">
        <div class="main-selector profile-info-box">
            <div class="div-center">
                <div class="col-12 profile-picture user-img">
                    <img src="https://picsum.photos/50/50" />
                </div>
                <div class="profile-container">

                    <h2 class="profile-text">Name     -		@user.Firstname @user.Surname</h2>
                    <h2 class="profile-text">Email    -		@user.Email</h2>
                    <h2 class="profile-text">Username -		@user.Username</h2>
                </div>


            </div> <!-- End Of Modal Content-->
        </div>
    </div>
</div>




<div>
    <div class="profile-feed-container">
        <div class="post-box">
            <div class="card-header">Your Posts</div>
            <div class="card-body">
                <div class="card gedf-card card-bottomMargin">

                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class=" rounded-circle" width="45" src="https://picsum.photos/50/50">
                                </div>
                                <div class="ml-2">
                                    <div class="h5 m-0"> @posts.GetValue("Firstname")  Wade</div>
                                    <div class="h7 text-muted">click to go to post.. </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> 10am</div>
                        <p class="card-text">
                            Today i did this thing ...
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>

